$topnav-background-color: #fff;
:host {
    display: block;
}

.input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 0;
}

.input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
}

.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(161, 16, 16, 0.8);
    background: $topnav-background-color;
    border: 2px solid rgba(209, 25, 25, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}

.rounded-btn:hover,
.rounded-btn:focus,
.rounded-btn:active,
.rounded-btn:visited {
    color: rgb(24, 23, 23);
    border: 2px solid rgb(37, 1, 1);
    outline: none;
}

h1 {
    font-weight: 50;
    margin: 10px;
    font-size: 24px;
    color: rgba(172, 13, 137, 0.7);
    small {
        color: rgba(172, 13, 137, 0.7);
    }
}

.form-group {
    padding: 2px 0;
    input::-webkit-input-placeholder {
        color: rgba(22, 2, 2, 0.6) !important;
    }
    input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(20, 1, 1, 0.6) !important;
    }
    input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(20, 1, 1, 0.6) !important;
    }
    input:-ms-input-placeholder {
        color: rgba(8, 0, 0, 0.6) !important;
    }
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    //grid-gap: 1rem;
    cursor: pointer;
    .card {
        .info {
            padding: 1rem;
            //display: none;
        }
        img {
            width: 100%;
        }
        .desc {
            color: gray;
        }
    }
}